.error{
    margin: 0;
}

.alert{
    margin-top: 1rem;
}

.input{
    margin-right: 10px;
}

.form-create{
    margin: 0 auto;
    display:flex;
    width:50%;
}

.checked{
    text-decoration: line-through;
}
